body {
    background: #090014;
    color: #d8d5c9;
}
nav {
    border: 1px solid  #d8d5c9;
    padding: 10px;
}

header ol, header li{
    display: flex;
    text-align: center;
    list-style: none;
    margin-right: auto;
}

.content{
    display: flex;
    margin-top: 5%;
}

main{
    width: 40%;
    text-align: center;
}

.barras_laterais{
    width: 30%;
    text-align: center;
    margin-left: 5%;
}
#inserir_minutos_estudo, #inserir_minutos_descanso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#relogio{
    font-size: 90px;
    font-family: monospace;
    background-color:#d8d5c9 ;
    padding: 20px;
    color: #090014;
    margin: 50px auto 50px;
}

#botao_iniciar, #botao_pausar, #botao_zerar, #enviar_configuracoes, #limpar_configuracoes{
    background-color:#d8d5c9 ;
    font-family: monospace;
    font-size: 25px;
}

.inputs{
    background-color: #d8d5c9;
    width: 20%;
}

.tempo_estudado{
    display: flex;
    justify-content: space-around;
    margin: 3%;
}