body {
    background: #041C32;
    color: #C4DDFF;
}
nav {
    border: 1px solid  #C4DDFF;
    padding: 10px;
}

header ol, header li{
    display: flex;
    text-align: center;
    list-style: none;
    margin-right: auto;
}

.content{
    display: flex;
    margin-top: 5%;
}

main{
    width: 40%;
    text-align: center;
}

.barras_laterais{
    width: 30%;
    text-align: center;
}
#inserir_minutos_estudo, #inserir_minutos_descanso {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.minutos_descansar{
    background-color: red;
}

#relogio{
    font-size: 90px;
    font-family: monospace;
    border: 1px solid #000000;
    background-color:#C4DDFF ;
    padding: 20px;
    color: #041C32;
    margin: 50px auto 50px;
}
#botao_iniciar, #botao_pausar, #botao_zerar, #enviar_configuracoes, #limpar_configuracoes{
    border: 1px solid #000000;
    background-color:#C4DDFF ;
    font-family: monospace;
    font-size: 25px;
}

.inputs{
    background-color: #C4DDFF;
    width: 20%;
}